/* Designer for minst 320px på mobil */
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
    /*Anvender Noto Sans for å dekke mange symboler. Det er også veldig likt fonten på Android*/
    font-family: "Noto Sans", sans-serif;
    background-color: beige;
}

img {
    display: block;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

nav {
    background-color: #a40b0b;
    color: white;
}

header {
    background-color: white;
    color: #023047;
}

main {
    background-color: #023047;
    color: white;
    
}

footer {
    background-color: olive;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.flex-container > section {
    flex: 0 2 32rem;
    padding: 1rem 0.5rem;
}


ul {
    display: inline-block;
    /*width: fit-content;*/
}
nav li {
    float: left;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: white;
    padding: 0 0.25rem;
}

nav h1 {
    display: inline-block;
    /*width: fit-content;*/
}

.linkBtn {
    background-color: #ffc431;
    color: black;
    display: block;
    width: 12rem;
    padding: 1rem;
    margin: 0.25rem auto;
    text-decoration: none;
    text-align: center;
    
    
}

.linkBtn:hover {
    background-color: #ffd66e;
}

/*main > section {
    display: inline-block;
    width: min(100%,32rem);
    margin: auto;
}*/

p {
    margin: 0.25rem 0 0 0;
}