/* Designer for minst 320px på mobil */
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
    /*Anvender Noto Sans for å dekke mange symboler. Det er også veldig likt fonten på Android*/
    font-family: "Noto Sans", sans-serif;
    background-color: beige;
}



nav {
    background-color: rgba(2, 48, 71, 1);
    color: white;
    position: fixed;
    width: 100vw;
}

header {
    background-color: white;
    color: black;
}

main {
    background-color: #023047;
    color: white;
    
}

footer {
    background-color: white;
}

#index-banner {
    background-image: url("pictures/pexels-andrea-piacquadio-3799205.jpg");
}

#interface-banner {
    background-image: url("pictures/earbuds-banner.png");
    background-position: right;
}

#sdg-banner {
    background-image: url("pictures/sdg-banner-cropped.png");
    background-size: contain;
}

#awareness-banner {
    background-image: url("pictures/neurodiversity-cropped.png");
    background-position: top;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.flex-container > section {
    flex: 0 2 24rem;
    padding: 1rem 0.5rem;
}

.double-wide {
    flex-basis: 48rem !important;
    text-align: center;
}

.footer-section {
    flex: 0 2 300px !important;
    margin: 0 6rem;
}

.footer-section > div > img {
    display: inline-block;
    width: 25%;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    margin-top: 3rem;
}

img {
    display: block;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

nav > div {
    padding: 0.125rem 0.25rem;
}

ul {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 2rem;
}

nav li {
    float: left;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: white;
    padding: 0 0.25rem;
}

li > a:hover {
    background-color: #219EBC;
}

nav h1 {
    display: inline-block;
    font-size: 2rem;
    line-height: 3rem;
}

.linkBtn {
    background-color: #ffc431;
    color: black;
    display: block;
    width: 12rem;
    padding: 1rem;
    margin: 0.25rem auto;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 1px grey;
}

.sourcesBtn {
    color: white;
    background-color: grey;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.linkBtn:hover {
    background-color: #ffd66e;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.sourcesBtn:hover {
    background-color: rgb(100, 100, 100);
}

h2, h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h2 {
    color: #023047;
}

p {
    margin: 0.25rem 0 0 0;
}

#sources-header {
    padding: 5rem 0;
}

#sources-main {
    flex: 0 2 48rem;
    margin: 0 auto;
}