/* Designer for minst 320px p책 mobil */
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
    /*Anvender Noto Sans for 책 dekke mange symboler. Det er ogs책 veldig likt fonten p책 Android*/
    font-family: "Noto Sans", sans-serif;
    background-color: beige;
}

img {
    display: block;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

nav {
    background-color: rgba(2, 48, 71, 0.95);
    color: white;
    position: fixed;
    width: 100vw;
}

header {
    background-color: white;
    color: black;
}

main {
    background-color: #023047;
    color: white;
    
}

footer {
    background-color: olive;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.flex-container > section {
    flex: 0 2 32rem;
    padding: 1rem 0.5rem;
}

.background-image {
    background-image: url("pexels-andrea-piacquadio-3799205.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    margin-top: 2rem;
}

nav > div {
    padding: 0.125rem 0.25rem;
}

ul {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 2rem;
    /*width: fit-content;*/
}

nav li {
    float: left;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: white;
    padding: 0 0.25rem;
}

li > a:hover {
    background-color: #219EBC;
}

nav h1 {
    display: inline-block;
    font-size: 2rem;
    line-height: 2rem;
    /*width: fit-content;*/
}

.linkBtn {
    background-color: #ffc431;
    color: black;
    display: block;
    width: 12rem;
    padding: 1rem;
    margin: 0.25rem auto;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 1px grey;
}

.linkBtn:hover {
    background-color: #ffd66e;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

/*main > section {
    display: inline-block;
    width: min(100%,32rem);
    margin: auto;
}*/

p {
    margin: 0.25rem 0 0 0;
}